---
layout: layouts/base.njk
title: Home - Alejandri
---
<h1>Esta es mi página web: {{siteData.name}}</h1>

<p>
Bienvenido a {{siteData.dominio}}
</p>

<p>
    <a href="/portafolio/">ir al portafolio<a/>
</p>